{% extends "base.html" %}
{% block title %}
  Logowanie - Paver
{% endblock title %}
{% block content %}
  <div class="flex items-center justify-center min-h-[calc(100vh-200px)]">
    <div id="auth-card" class="card w-full max-w-md bg-base-100 shadow-2xl">
      <div class="card-body">
        <h2 class="card-title justify-center text-2xl font-bold mb-4">Zaloguj się</h2>
        <form method="post">
          {% csrf_token %}
          {% include "partials.html#non_field_errors" %}
          {% include "partials.html#form_field" with field=form.username %}
          {% include "partials.html#form_field" with field=form.password wrapper_class="mt-4" %}
          <div class="card-actions justify-end mt-6">
            <button type="submit" class="btn btn-primary w-full">Zaloguj</button>
          </div>
        </form>
        <div class="divider">LUB</div>
        <div class="text-center">
          <p>
            Nie masz konta? <a href="{% url 'core:register' %}" class="link link-primary">Zarejestruj firmę</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
